node_modules/
.anchor
**/*.rs.bk
build/
rust/test/nft-candy-machine.js
dist/
lib/
deploy/
venv/
js/packages/cli/assets/
js/packages/cli/geisha_assets/
js/packages/cli/geisha_devnet/
docs/lockup-ui/
.DS_Store
*~
.idea
.yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.css
*.css.map
!js/packages/metaplex/src/fonts/fonts.css
!js/packages/metaplex/src/utils/globals.css
js/.eslintcache
target
.env
.vscode
bin
config.json
node_modules
./package-lock.json
hfuzz_target
hfuzz_workspace
**/*.so
**/.DS_Store
.cache
js/packages/web/.env
js/packages/candy-machine-ui/.env
traits
traits-configuration.json
js/packages/candy-machine-ui/src/MintButton_backup.tsx
js/packages/candy-machine-ui/src/whitelisted.ts
js/packages/candy-machine-ui/src/wl.json
js/packages/cli/vv_devnet_assets
js/packages/cli/9gFKzQAHYsmcEMLkAthohsoLxpxY9SGWQt3GD2x3CN8L.json
js/packages/cli/airdrop_token.py
js/packages/cli/config_captha.json
js/packages/cli/FrKWJKLDvTn4ghZSkMXTSERPA7KowWLds2vsMw7QpvNk.json
js/packages/cli/geisha_wallet.json
js/packages/cli/token-output.txt
js/packages/cli/VVKNtVuJJ1fYPAh2tRbZWVssiRVY6Z8hari5DbR9omy.json
js/packages/cli/wallets_vv_token.txt
js/packages/cli/config_captha.json
js/packages/cli/geisha_wallet.json
js/packages/cli/token-output.txt
mainnet-beta-temp-backup.json
mainnet-beta-temp-test.json
